

body{
  background-image: url("../img/brooklynCinema.jpg"),
  url("../img/patternMovie.jpg");
  background-position-x: center;
  background-size: 120vw ,40%;
  background-repeat: no-repeat, repeat;
}
.container-fluid{
  width: 100%;
  margin : 0;
  padding: 0;
}
/*================================================
Containers pages + googlemap id
====================================================*/


div.header-bg,.carousel-page,.container-program,.container-google, .container-regs{
  min-height: 100vh;
}

.container-program{
  background:rgba(15,55,81,.8);
}
.container-google{
  background-color: rgba(0,100,100,.8);
  border-top: 2px solid rgba(50,100,100,1);
}
.carousel-page{
  min-height: 150vh;
}
.container-regs{
  background-color: rgba(40,0,0,.8);
  border-top: 2px solid rgba(255,0,0,.9);
}
#map {
  height: 50vh;
  width: 80%;
   margin: 0 auto;
}

#august-5,#august-6,#august-7, #august-8{
  height: 600px;
}
#the-end{
  height: 30vh;
  background: rgba(0,0,0,.8);

}
/*============================================
This is for the film effect on navbar
=============================================*/
#main-nav{
  margin: .7em auto;
}
#partners{
  font-size: 1.2rem;
}
.container-film{
  position: relative;
  background-color: rgba(61,61,61,1);
}
div.film{
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: -100;
  left: 0;
  top: -20px;
  background: rgba(61,61,61,1);
  box-shadow: 0px 30px 70px rgba(0,0,0,.7);
}
.film ul.strips{
  display: block;
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
  overflow:hidden;
}
div.film li.white{
  display: inline-block;
  margin: 10px 7px;
  border-radius: 2px;
  width: 15px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
}
li.white:last-child{
  margin-right: 0;
  background: red;
}

/*============================================
This is for the film effect change color
=============================================*/
.film-color-2{
  background-color: #0d0d0d !important;
  transition: 1s all ease-in-out;
}

/*============================================
Personal vertical alignment for jumbotron at homepage
============================================*/
.personal-jumbotron{
  margin: 90px auto;
  padding: 2em 1em;
}
/*thumbnails on jumbotron*/
.cont-img{
  width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.img-jumbotron{

  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}
.img-jumbotron:hover{
  -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
/*===========================================
This for the Carousel Items
===========================================*/

.container-carousel{
  padding-top: 80px;
  background: rgba(255,102,0, .9);
}
.carousel-caption{
  height: 50%;
  background: rgba(59,24,0,.7);
  border-radius: 10px;
  box-shadow: 0 2px 250px #f60;
  bottom: 25%;
}
.card-container{
  margin-top: 80px;
}

/*================================================
This class to prevent scroll toggled by js
====================================================*/
/*.stop-scrolling {
  height: 100%;
  overflow: hidden;
}*/

/*================================================
Social icons
====================================================*/
.social{
  color: #fff !important;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
  transition: .5s all ease-in-out;
}
.social-container{
  box-shadow: 0 -5px 20px #1c6f6f;
  border: 1px solid rgba(10, 224, 224, 0.7);
  border-radius: 10px;
  background-color: rgba(13, 129, 129, 0.42);
  padding: 5px;
}
.social-link{
  color: #fff !important;
  padding: 0;
  font-size: 1.2rem !important;
  transition: all 0.5s ease-out;
}
.social-link:hover{

  color: #fff !important;
}
.twitter:hover{
  color: #55acee !important;
}
.instagram:hover{
  color: #e4405f !important;
}
.facebook:hover{
  color: #3b5999 !important;
}
.partners a.text-white:hover{
  color: #f60 !important;
}

/*=========================================
This to fix the fixed-bottom on Bootstrap
==========================================*/
.fixed-bottom{
  bottom: 10px;
}
/*=========================================
 IMPORTANT COLORS, shadows, background,
==========================================*/
/*Sticky Top added margin*/
.sticky-top{
  top:10px;
}

.nav-link.active{
  color:#f60 !important;
}

.orange-color{
  color: #f60 !important;
}
.orange-bg{
  background: #f60 !important;
  transition: .3s all ease-in-out;
}
.orange-bg:hover{
  background: #ff893b !important;
}
.dark-color{
  color: #0d0d0d !important;
}
.dark-bg{
  background: rgba(26,26,26,.5)!important;
}
.shadow-text{
  text-shadow: 1px 2px 3px #000 !important;
}
.shadow-box{
  box-shadow: 0 -10px 250px #f60 !important;
}
.shadow-dark{
  box-shadow: 0 -5px 30px #0d0d0d !important;
}
.shadow-green{
  box-shadow: 0 -5px 230px rgba(0,100,100,.9) !important;
}
.personal-bg-dark{
  background: linear-gradient(rgba(0,0,0,.7), transparent) !important;
}
.g{
  background: linear-gradient(rgba(	50, 205, 50,.7), transparent) !important;
}
.pg{
  background: linear-gradient(rgba(	255, 165, 0,.7), transparent) !important;
}
.pg13{
  background: linear-gradient(rgba(	255, 26, 0,.7), transparent) !important;
}
.personal-bg-orange{
  background: linear-gradient(rgba(137,55,0,.0), rgba(0,0,0,.7)) !important;
}
button:focus{
  outline: 5px solid rgba(0, 0, 0, 0.1) !important;
  box-shadow: none !important;
}
.form-control{
  background-color: #000;
  color: #f60;
  border: 1px solid #f60;
  transition: all .5s ease-in-out;
}
.form-control:focus{
  background-color: #000;
  color: #f60;
  border: 1px solid #f60;
  box-shadow: 0 0 20px #f60;
}
/*=========================================
Buttons on Movie page
==========================================*/

.btn{
  border: 10px solid transparent;
  font-size: 1.5rem;
}
.btn-active{
  background-color: #92101c !important;
}
/*=========================================
 HOVER EFFECT ON MOVIES PAGE
==========================================*/

.personal{
   height:400px;
}
.hovereffect {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #f60;
  margin: 50px 0 0 0;
  background-color: rgba(0,0,0,.5);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #f60;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/*===============================
 popcorn adv on movie page
 ==================================*/
.popcorn-box{
  background:  rgba(137,79,0,.5);
  padding: 10px;
  border-radius:  25px 25px 0 0;
  border: 1px solid #f60;
  border-bottom: 0;
  box-shadow: 0 -15px 150px rgba(252,102,1,.7);

}
/* TODO: Try new classes to toggle with Jquery to animate the first
page
-toggle to view a content on fade on the home page
 */
